.content{
    margin-left: 18vw;
    width: 100%;
    .container{
        margin-left: 2vw;
        width: 76vw;
        display: flex;
        img{
            width: 3.5vw;
            height: 3.5vw;
            margin-right: 1vw;
        }
        .panel{
            width: 75vw;
            height: 3.5vw;
            display: flex;
            align-items: center;
            border-bottom: 2px solid gray;
            margin-bottom: 5px;
            .forms{
                width: 20%;
                display: flex;
                justify-content: space-between;

                button{
                    border: none;
                    background-color: #324565;
                    width: 120px;
                    height: 30px;
                    color: white;
                    font-size: 16px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .delete{
                    width: 80px;
                }
            }
        }
        p{
            width: 27%;
        }
    }
    .heading{
        margin: 50px 0px 20px 4.5vw;
        .panel{
            width: 71.5vw;
        }
        h4{
            width: 28.8%;
            font-size: 18px;
            overflow-x: hidden;
        }
        form{
            width: 50%;
            display: flex;
            justify-content: space-between;
        }
        padding-bottom: 5px;
    }

}