.content{
    margin-left: 18vw;
    width: 100%;
    .container{
        margin-left: 2vw;
        width: 76vw;
        display: flex;
        img{
            width: clamp(50px, 3.5vw, 400px);
            height: clamp(50px, 3.5vw, 400px);
            margin-right: 1vw;
        }
        .panel{
            width: 75vw;
            height: clamp(50px, 3.5vw, 400px);
            display: flex;
            align-items: center;
            border-bottom: 2px solid gray;
            margin-bottom: 5px;
            .forms{
                width: 30%;
                display: flex;
                justify-content: flex-end;
                gap: 5px;

                button{
                    border: none;
                    background-color: #324565;
                    width: clamp(80px, 7vw ,120px);
                    height: 30px;
                    color: white;
                    font-size: 16px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .delete{
                    width: 80px;
                }
            }
        }
        p{
            width: 27%;

            &:last-of-type{
                width: 20%;
            }
        }
    }
    .heading{
        margin: 50px 0px 20px 4.5vw;
        .panel{
            width: 71.5vw;
        }
        h4{
            width: 28.8%;
            font-size: 18px;
            overflow-x: hidden;
        }
        form{
            width: 50%;
            display: flex;
            justify-content: space-between;
        }
        padding-bottom: 5px;
    }

}
@media only screen and (max-width: 950px){
    .content{
        margin-left: 0vw;
        width: 100%;
        .container{
            margin-left: 4vw;
            width: 92vw;
            img{
                width: clamp(70px, 3.5vw, 400px);
                height: clamp(70px, 3.5vw, 400px);
            }
            .panel{
                width: 92vw;
                height: clamp(70px, 3.5vw, 400px);
            }
        }
        .heading{
            margin: 50px 0px 20px 11vw;
            .panel{
                width: 82.5vw;
            }
            h4{
                width: 24.8%;
                font-size: 18px;
                overflow-x: hidden;
            }
            form{
                width: 50%;
                display: flex;
                justify-content: space-between;
            }
            padding-bottom: 5px;
        }
    
    }  
}
@media only screen and (max-width: 600px){
    .content{
        .priceRemove{
            display: none;
        }
        .categoryRemove{
            display: none;
        }
        .container{

            .panel{
                width: 92vw;
                height: clamp(70px, 3.5vw, 400px);
                justify-content: space-between;
                p{
                    width: 55%;
                }
                .forms{
                    width: 30%;
                    .delete{
                        width: 40px;
                    }
                }
            }
        }
        .heading{
            margin: 50px 0px 20px 16vw;
            .panel{
                width: 75.5vw;
                display: flex;
                justify-content: space-between;
            }
            h4{
                width: 40.8%;
                font-size: 18px;
                overflow-x: hidden;
            }
            form{
                width: 50%;
                display: flex;
                justify-content: end;
                input{
                    width: 100px;
                }
            }
            padding-bottom: 5px;
        }
    
    } 
}