.content{
    .addCategory{
        margin-left: 2vw;
        padding: 20px 20px 20px 0px;
        width: 50vw;
        input{
            height: 30px;
            font-size: 16px;
        }
        button{
            border: none;
            background-color: #324565;
            width: 150px;
            height: 30px;
            color: white;
            font-size: 16px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .panel{
        height: 40px;
        width: 24vw;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #5F829C;
        margin: 5px 10px 5px 0px;
        padding: 5px;
        button{
            border: none;
            background-color: #324565;
            width: 80px;
            height: 30px;
            color: white;
            font-size: 16px;
            &:hover{
                cursor: pointer;
            }
        }
        p{
            width: 15vw;
        }
    }
}
@media only screen and (max-width: 950px){
    .content{
        .addCategory{
            margin-left: 4vw;
            padding: 20px 20px 20px 0px;
            width: 100vw;
            input{
                height: 30px;
                font-size: 16px;
            }
            button{
                border: none;
                background-color: #324565;
                width: 150px;
                height: 30px;
                color: white;
                font-size: 16px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .panel{
            width: 92vw;
            p{
                width: 15vw;
            }
        }
    }
}