.dashboardPage{
    padding: 60px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;

    .content{
        width: 100%;
    }
    .baby{
        margin-left: 18vw;
        width: 100%;

        .categories{
            margin-left: 2vw;
            width: 76vw;
            display: flex;
            flex-wrap: wrap;
        }
    }
}
@media only screen and (max-width: 950px){
    .dashboardPage{
        display: flex;
        flex-direction: column;

        .baby{
            margin-left: 0vw;
            width: 100%;
    
            .categories{
                margin-left: 2vw;
                width: 76vw;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}