.footer{
    margin-top: 100px;
    background-color:  #324565;
    padding: 70px 0px;
    color: white;
    .container{
        width: 92vw;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        gap: 50px;
        ul{
            list-style: none;
        }
        a{
            color: white;
        }
    }
}