.header{
    z-index: 9000;
    position: fixed;
    background-color: #5F769C;
    display: flex;
    height: 50px;
    width: 100%;
    gap: 30px;
    a{
        text-decoration: none;
        color: white;
    }
}