.productCard{
    z-index: 0;
    width: clamp(300px,22vw,2000px);
    height: clamp(400px,29vw,2000px);
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    position: relative;
    transition: 0.2s;
    &:hover{
        transform: scale(1.01);
    }
    .card{
        height: 98%;
        width: 95%;
        background-color: #5F829C;
        .containerImg{
            height: 73%;
                img{
                    background-color:  #324565;
                    object-fit: cover;
                    object-position: top;
                    height: 100%;
                    width: 100%;
                    display: flex;
                }
        }
        .content{
            color: white;
            margin-left: 10px;
            h2{
                margin: 15px 5px;
                font-size: 18px;
            }
            p{
                position: absolute;
                font-size: 16px;
                bottom: 40px;
            }
        }
    }
    .addCart{
        position: absolute;
        bottom: 0px;
        right: 0px;
        button{
            color: white;
            padding: 25px 40px;
            background-color: #324565;
            border: none;

            &:hover{
                cursor: pointer;
            }
        }
    }

}