.searchPage{
    padding-top: 60px;

    section{
        width: 92vw;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
    }
    .none{
        padding: 30vh 0px;
        text-align: center;
    }
}