.sexPage{
    width: 100vw;
    padding-top: 60px;
    .banniere{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 50vh;
        overflow-x: hidden;
        margin-bottom: 100px;
        .visuel{
            width: 100%;
            height: 46vh;
            background-color: #324565;
            img{
                width: 100%;
                height: 46vh;
                object-fit: cover;
                object-position: center;
            }
        }
        .sousBanniere{
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #324565;
            padding-bottom: 5px;
            p{
                color: white;
            }
        }
    }
    .category{
        margin: 20px 0px 20px 3.2vw;
        font-size: 30px;
        color:  #5F829C;
    }
    section{
        width: 93vw;
        margin: 0pc auto;
        display: grid;
        grid-template-columns: 0.3fr 1fr;

        .itemSection{
            display: flex;
            flex-direction: column;

            .line{
                height: 40px;
                width: 100%;
                margin-bottom: 40px;
                background-color: #324565;

                display: flex;
                align-items: center;

                button{
                    background-color:#5F829C;
                    padding: 5px 10px;
                    border: none;
                    color: white;
                    font-size: 20px;
                    margin-left: 30px;

                    cursor: pointer;
                }
            }

            .catalog{
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}

@media only screen and (max-width: 950px) {

}
@media only screen and (max-width: 600px) {
    .sexPage{
        .banniere{
            .sousBanniere{
                p{
                    display: none;
                }
            }
        }
        .category{
            font-size: 25px;
        }
        section{
            display: flex;
            flex-wrap: wrap;
            .itemSection{
                display: flex;
                flex-direction: column;
    
                .line{
                    display: none;
                }
                }
                .catalog{
                    justify-content: center;
                }
            }
    }

}

