*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    ::-webkit-scrollbar {
        height:0px;
        background:#5F769C;
      }
    ::-webkit-scrollbar-thumb {
        background:#324565;
      }
}
body{
  background-image: url("https://images.unsplash.com/photo-1566305977571-5666677c6e98?q=80&w=1890&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: repeat;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.797);
}