*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    ::-webkit-scrollbar {
        height:0px;
        background:#5F769C;
      }
    ::-webkit-scrollbar-thumb {
        background:#324565;
      }
}