.carousel{
    width: 100vw;
    background-color: #324565;
    padding: 30px 0px;
    .containerCarousel{
        position: relative;
        margin: 0px auto;
        width: 92vw;
        overflow-x: hidden;
        display: flex;
    }
}