.pageMenu{
    background-color: #5F769C;
    width: clamp(100px, 19vw, 1000px);
    padding: 10px 30px;
    border-left: 4px solid  #324565;
    h3{
        color: white;
        font-size: 25px;
    }
    .option{
        margin-left: 40px;
        ul{
            color:  #324565;
            list-style-type: '-  ';
            li{
                margin: 20px 0px;
    
                button{
                    color: white;
                    cursor: pointer;
                    width: 60%;
                    border: none;
                    background: none;
                    text-align: left;
                    font-size: 18px;

                    &:hover{
                        color: #EABF48;
                    }
                }
            }
        }
    }
}